@model IconPC.Stock.ASPPL.Models.CPU

@{
    ViewBag.Title = "Детали";
}

<h2>Детали</h2>

<div>
    <h4>CPU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfCores)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfCores)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfThreads)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfThreads)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TurboFrequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TurboFrequency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Socket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Socket.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TDP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TDP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
