@model IEnumerable<IconPC.Stock.ASPPL.Models.Case>

@{
    ViewBag.Title = "Index";
}

<h2>Список</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaximumCoolerHeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaximumVideoCardLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterCoolingMount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FansNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaximumCoolerHeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaximumVideoCardLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WaterCoolingMount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FansNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
