@model IconPC.Stock.ASPPL.Models.VideoCard

@{
    ViewBag.Title = "Детали";
}

<h2>Детали</h2>

<div>
    <h4>VideoCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desctription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desctription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemorySize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemorySize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinimumPowerSupply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimumPowerSupply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Connector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Connector)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
